.form {
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

input.no-spinner::-webkit-outer-spin-button,
input.no-spinner::-webkit-inner-spin-button {
  display: none;
}

img.image {
  max-width: 100%;
}
